Lists

In [12]:
friends = ["Susan" , "Anna" , "Zeynab" , "Ysabella"]
friends

['Susan', 'Anna', 'Zeynab', 'Ysabella']

In [ ]:
friends[0] #My first friend

'Susan'

In [ ]:
friends[-1] #My last friend

'Ysabella'

In [13]:
friends.append("Amy")
friends

['Susan', 'Anna', 'Zeynab', 'Ysabella', 'Amy']

In [14]:
friends.insert(0, "Ava")
friends

['Ava', 'Susan', 'Anna', 'Zeynab', 'Ysabella', 'Amy']

In [15]:
friends.sort()
friends

['Amy', 'Anna', 'Ava', 'Susan', 'Ysabella', 'Zeynab']

In [16]:
friends.append("Zosia")
friends

['Amy', 'Anna', 'Ava', 'Susan', 'Ysabella', 'Zeynab', 'Zosia']

In [17]:
friends.pop()
friends

['Amy', 'Anna', 'Ava', 'Susan', 'Ysabella', 'Zeynab']

Tuples

In [18]:
family = ("Mom", "Dad", "Brother", "Sister")
family

('Mom', 'Dad', 'Brother', 'Sister')

In [19]:
family.append("Aunt") #this will raise an error because tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
family[0]

'Mom'

In [ ]:
len(family) #length of the tuple

4

In [29]:
snake = [(10 , 10), (11, 10) , (12,10)]

In [ ]:
len(snake)

3

In [26]:
type(snake[0])

tuple

In [30]:
new_head = (13, 10) #new head of the snake
snake.append(new_head) #adding new head to the snake 
snake.pop(0)
snake

[(11, 10), (12, 10), (13, 10)]

# Dicts

In [1]:
dict = {"name": "Zosia", "age": 19, "city": "London"}
dict

{'name': 'Zosia', 'age': 19, 'city': 'London'}

In [2]:
dict["name"]

'Zosia'

In [3]:
dict["name1"]

KeyError: 'name1'

In [5]:
dict.get("name", "Key not found")  # Using get method to avoid KeyError

'Zosia'